*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Wrapper */
aside,
main{
  height: calc(100vh - 76px);
}
.icon-container{
  cursor: pointer;
  transition: all 0.5s ease;
}

aside .icon-container:hover{
  background-color: gray;
}

/* Header */
.dropdown-toggle::after{
  display: none;
}

.logo-mobile{
  width: 50px;
}

.search{
  background-color: rgb(235, 235, 235);
  border: none;
}

header a[aria-expanded="true"] i{
  color: rgb(235, 153, 0) !important;
}

#bell-menu{
  top: 50px;
  right: 10px;
}
/* Side bar*/
aside{
  position: fixed;
  width: 70px;
  background-color: rgb(5,30,52);
}

.icon-container{
  display: flex;
  justify-content: center;
}

aside .icon-container div{
  margin: 0 auto;
  width: 50px;
}

/* Main */
main{
  width: calc(100vw - 70px);
  margin-top: 76px;
  margin-left: 70px;
  overflow-y: scroll;
}
 /* Top bar */
 #top-bar .badge:hover{
  cursor: pointer;
  background-color: rgb(15, 72, 146);
 }

 .chevrons-container{
  font-size: 14px;
 }

 .offcanvas{
  width: 100% !important;
 }

 #content{
  height: auto;
  background-color: rgb(243, 243, 243);
 }

 .card-head{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgb(215, 215, 215);
  background-color: rgb(245, 245, 245);
 }

 table tr,
 table th{
  text-align: center;
 }

 table td:first-child,
 table th:first-child{
  text-align: left;
 }

 .class-avatar{
  width: 30px;
  background-color: white;
 }

 .action-content{
  display: flex;
  justify-content: center;
  gap: 5px;
 }
 
 .action-btn{
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
  transition: all 0.5s ease;
 }

 .action-btn:hover{
  color: rgb(243, 243, 243);
  background-color: gray;
 }

/* Utils */ 
  /* Display */
    /* Flex */
    .gap-2{
      gap: 20px;
    }
  /* Cursor */
  .cursor-pointer{
    cursor: pointer;
  }
  /* Background */
  .bg-darkblue{
    background-color: rgb(21,92,186);
  }
  /* Margin */
  .negative-ml{
    margin-left: -8px;
  }
  /* Border */
  .bg-border-lightgray{
    border-color: rgb(215, 215, 215);
  }
/* Media */

  /* Desktop */
  @media all  and (min-width: 992px){
    aside,
    main{
      height: calc(100vh - 56px);
    } 

    aside{
      width: 150px;
    }

    aside .icon-container div{
      width: 80px;
    }

    main{
      margin-top: 56px;
      margin-left: 150px;
      width: calc(100vw - 150px);
    }

    .offcanvas{
      width: 50% !important;
    }
  }